body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    
}
.center{
    text-align: center;
    font-size: 70px;
    color: aliceblue; 
    margin-top: 127px;
    

}
.center2{
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    padding-bottom: 20px;
    padding-left: 50px;
    
}
.image{
    background-image: url(imageAss/donation1.jpg);
    background-repeat: no-repeat;
    /* height: 700px; */
    background-size: cover;
    
    
    background-position: fixed;
    padding-right: 20px;
    
    
}
.buttonmid{
   text-align: center;
}
.donatebutton{
    text-decoration: none;
    background-color: rgb(230, 81, 81);
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    color: aliceblue;
    
}
.backimage{
    background-image: url(imageAss/donation1.jpg);
    background-repeat: no-repeat;
    
    height: 650px;
    /* padding-bottom: 5px; */
    background-size: 100% ;
    padding-top: 5px;
}
.donateone{
    text-align: center;
    font-size:50px;
}
.donatetwo{
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
}
.box1{
    /* border: 2px solid rgb(245, 241, 241); */
    background-color: #fafafa;
    width: 150px;
    height:130px;
    margin: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    border-radius: 5px;
}
.box2{
    border: 2px solid tomato;
    background-color: #ffeeee;
    width: 150px;
    height:130px;

}
.line{
    padding-left: 280px;
    padding-right: 280px;
}
.midammount{
    text-align: center;
    color: #a8a0a0;
    font-size: 18px;
}
.down{
    padding-top: 50px;
}
.donatenowbutton{
    text-decoration: none;
    text-align: center;
}
.edit{
    padding-top: 50px;

}
.donateplan{
    text-align: center;
    font-size: 50px;
}
.plantwo{
    text-align: center;
}
.newbox{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    
    
}
.newbox1{
    
    background-color:rgb(242, 242, 247);
    margin: 10px;
    padding: 20px;
   
    
}
.newbox2{
    background-color:rgb(241, 221, 224);
    margin: 10px;
    padding: 20px;
}
.newbox3{
    background-color:rgb(250, 250, 207);
    margin: 10px;
    padding: 20px;
    
}
.foodimg{
    padding-top: 40px;
    padding-bottom: 5px;
}
.shelterimg{
    padding-top: 40px;
    padding-bottom: 5px;
}
.eduimg{
    padding-top: 40px;
    padding-bottom: 5px;
}
.bold2{
    font-size: 22px;
}
.bold1{
    font-size: 22px;
}
.bold3{
    font-size: 22px;
}
.bold4{
    font-size: 40px;
}
.moveleft{
    padding-left: 200px;
}
.movebutton{
    padding-bottom: 1000px;
    padding-right: 690px;
}
.move_image{
    width: 440px;
    height: 440px;
    padding-left: 19.5px;
    
}
.rightmove{
    display: flex;
    padding-top: 20px;
}
.buttonset{
    padding-left: 200px;
    padding-top: 20px;
}
.newpic{
    
    width: 440px;
    height: 440px;
    padding-top: 40px;
    padding-left: 200px;
    
}
.opp2{
    padding-left: 60px;
}
.opp1{
    font-size: 50px;
}
.opposite{
    display: flex;
    
    
}
.buttonset2{
    padding-right: 150px;
    padding-top: 20px;
}
.last1{
    text-decoration: none;
    background-color: tomato;
    color: #fafafa;
    border-radius: 0px 5px 5px 0px;
    
    padding: 1px 37px 16px 20px;
    
    
}
.last2{
    width: 700px;
    height: 100px;
    background-color: #fff4bc;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    display: flex ;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin-left: 300px;
    
    
}
.last3{
    text-align: center;
}
.last4{
    font-size: 50px;
}

.footer_text{
    text-align: center;
    background-color: black;
    height: 160px;
}
.style_f{
    padding-top: 40px;
    font-family:'Lobster';
    font-size: 30px;
    color: palevioletred;
    
}
#bye_bye_ms{
    color: #fafafa;
    font-size: 12px;
}
.box_edit{
    width: 257px;
    height: 38px;
    border: none;
    background-color: #d9d9d9;
    border-radius: 5px 0px 0px 5px;
}
.second{
    padding-top: 80px;
}
.third{
    padding-top: 80px;
}
.fourth{
    padding-top: 100px;
}
.fifth{
    padding-top: 100px;
}
.sixth{
    padding-top: 50px;
}